.chatMessageHolder {
     overflow-y: scroll;
     max-height: 500px;
}

.chatMessage {
    margin: 10px 0px;
    clear: both;
}

    .chatMessage .name {
        float: left;
        font-weight: bold;
    }

        .chatMessage .name::after {
            content: ':';
            padding-right: 5px;
        }

    .chatMessage .message {
        float: left;
    }

    .chatMessage .date:before {
    }

    .chatMessage .date {
        clear: both;
        font-size: 0.8em;
    }

.chatSendButton {
    max-width: 100%;
    float: right;
    margin-top: 15px;
}
